
:root {
  --primary-color: #97859f;
  --secondary-color: #eeeeee;
  --font-color: #000;
  --bg-color: #fff;
  --bg-color-oppo: #9499a1;
  --form-bg-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #582070;
  --secondary-color: #212529;
  --font-color: #fff;
  --bg-color: #16191D;
  --bg-color-oppo: #fff;
  --form-bg-color: #232323;
}

h1, h2, h3, h4 ,h5 ,h6, p, span, li, label {
  color: var(--font-color);
  transition: all 0.4s ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: #fff;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

header {
  background-color: var(--primary-color);
  padding: 1em;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

main {
  max-width: 750px;
  margin: 0 auto;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  color: #9822ca;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.nav-link {
  background: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}

#developerWord {
  transition: color 1.3s ease;
}

.profile-wrapper {
  position: relative;
  width: 100%;
  height: 85px;
}

.tweet {
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.tweet:hover {
  background-color: var(--primary-color);
}

.tweet-img-wrapper {
  width: 10%;
  height: 100%;
  display: inline-block;
}

.tweet-img {
  width: 100%;
  border-radius: 50%;
}

.tweet-content-wrapper {
  width: 80%;
  display: inline-block;
  margin: 0 auto;
}

.banner-img {
  height: 100%;
  max-height: 200px;
  width: 100%;
  position: relative;
  aspect-ratio: 3/1;
}

.profile-img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  transform: translateY(-50%);
  margin-left: 5%;
}

h2 {
  margin: 0;
}

.icon-wrapper {
  color: #858585;
}

.pr-20 {
  padding-right: 20px;
}

.profile-content, .main-content {
  margin: 0 auto;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.main-content {
  padding-top: 20px;
}

ul .nav-pills {
  display: flex;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.nav-link {
  cursor: pointer;
}

.nav-item {
  display: flex;
  flex: 1 0 auto;
}

.nav-item-1 {
  justify-content: start;
}

.nav-item-2 {
  justify-content: center;
}

.nav-item-3 {
  justify-content: end;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, button {
  background-color: var(--primary-color) !important;
  transition: all 0.4s ease-in-out;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.form-control {
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid rgb(72 69 69);
}

.switch-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.padding-right-5 {
  padding-right: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-25 {
  margin-left: 25px;
}

.mb-0 {
  margin-bottom: 0;
}

.height-25 { 
  height: 25px;
}

.name-wrapper {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0;
}

.dot-separator {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: #858585;
}

.date-wrapper {
  font-size: 12px;
  color: #858585;
}

.form-control {
  background-color: var(--form-bg-color);
  border-color: #565555;
  color: var(--font-color);
  transition: all 0.4s ease-in-out;
}

.form-control:focus {
  background-color: var(--form-bg-color);
  border-color: #565555;
  color: var(--font-color);
  box-shadow: 0 0 0 0.2rem rgb(172 0 160 / 25%);
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media (max-width: 350px) {
  .nav-pills {
    flex-direction: column;
  }
  .nav-item {
    flex: 1 0 100%;
  }
  .nav-link {
    width: 100%;
    text-align: center;
  }
}

.switch-wrapper {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 3;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--bg-color);
  border: 1px solid grey;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.bi-moon {color: #f1c40f;}

.bi-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: var(--bg-color-oppo);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  transition: all 0.4s ease-in-out;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}